In [22]:
import mysql.connector as sql

connection = sql.connect(host="localhost",user="Rajput Jay",password="*A27BD635E40FFD3C35C4805B43B3B22800791B63",database="my1database")

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fdccb2d9c90>

In [23]:
cursor = connection.cursor()
cursor.execute("CREATE DATABASE my1database")

DatabaseError: 1007 (HY000): Can't create database 'my1database'; database exists

In [26]:
cursor.execute('SHOW DATABASES')

In [27]:
for database in cursor:
    print(database)

('information_schema',)
('my1database',)
('my_database',)

# Create  TABLE in mysql using python

In [28]:
cursor = connection.cursor()
cursor.execute("create TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'studentinfo' already exists

# INSERT RECORDS IN A TABLE

In [29]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("john", "stats")
cursor.execute(query, value)
print("Row Inserted", cursor.lastrowid)

Row Inserted 2

In [32]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("John","stats"),
         ("joe", "maths"),
         ("jay","data"),
         ("krish","Data Eng"),
         ("jay1","gaming")]
cursor.executemany(query,values)
print("row inserted", cursor.lastrowid)

row inserted 8

In [33]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [34]:
##TO fetch all data
cursor.fetchall()

[(1, 'john', 'stats'),
 (2, 'john', 'stats'),
 (3, 'John', 'stats'),
 (4, 'joe', 'maths'),
 (5, 'jay', 'data'),
 (6, 'krish', 'Data Eng'),
 (7, 'jay1', 'gaming'),
 (8, 'John', 'stats'),
 (9, 'joe', 'maths'),
 (10, 'jay', 'data'),
 (11, 'krish', 'Data Eng'),
 (12, 'jay1', 'gaming')]

In [38]:
cursor.fetchone()

# SELECTING PARTICULAR ROWS

In [39]:
cursor.execute("Select * from studentinfo where name='krish'")

In [40]:
cursor.fetchall()

[(6, 'krish', 'Data Eng'), (11, 'krish', 'Data Eng')]

In [41]:
# Select Distinct columns

cursor.execute("SELECT DISTINCT subject from studentinfo")

In [42]:
cursor.fetchall()

[('stats',), ('maths',), ('data',), ('Data Eng',), ('gaming',)]

In [43]:
cursor.execute("DROP TABLE studentinfo")